<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="no.nordicsemi.android.ble">

	<uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />

	<!--
	  Since API 31 (Android 12) apps need to request BLUETOOTH_CONNECT runtime permission.
	  This is not in scope of this library.
	-->

</manifest>
